.nav-pad{
    padding: 15px 2.2rem;
}
.nav-head{
    font-size: x-large;
    font-weight: bolder;
}

.nav-links{
    font-size: large;
}
.nav-color{
    background-color: teal;
}
.nav-alphaColor{
    color: white;
}
nav:hover{
    color: #003434
}
body{
    color: white;
    background-color: teal;
    padding: 2.2rem;
}

h1{
    font-size: xx-large;
    font-weight: bold;
}
